CONDOR_ADMIN = timony@hkl.hms.harvard.edu,oconnor@crystal.harvard.edu
# bind to the external address
# TODO: make this a template in ansible and the IP address a variable that we can pass in
NETWORK_INTERFACE =  134.174.140.230
# increase max jobs from the default of 6k to 10k:
MAX_JOBS_RUNNING = 10000

# GlideinWMS Gratia commands
PER_JOB_HISTORY_DIR = /var/lib/gratia/data
JOBGLIDEIN_ResourceName="$$([IfThenElse(IsUndefined(TARGET.GLIDEIN_ResourceName), IfThenElse(IsUndefined(TARGET.GLIDEIN_Site), IfThenElse(IsUndefined(TARGET.FileSystemDomain), \"Local Job\", TARGET.FileSystemDomain), TARGET.GLIDEIN_Site), TARGET.GLIDEIN_ResourceName)])"
SUBMIT_EXPRS = $(SUBMIT_EXPRS) JOBGLIDEIN_ResourceName
